{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Django Girls blog</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>

<body>
    <header class="page-header">
        <div class="container">
            {% if user.is_authenticated %}
            <a href="{% url 'post_new' %}" class="top-menu">
                {% include './icons/file-earmark-plus.svg' %}
            </a>
            <a href="{% url 'post_draft_list' %}" class="top-menu">
                {% include './icons/pencil-square.svg' %}
            </a>
            <p class="top-menu">Hello {{ user.username }}
                <a href="{% url 'logout' %}">{% include './icons/person-x.svg' %}</a>
            </p>
            {% else %}
            <a href="{% url 'login' %}" class="top-menu">
                {% include './icons/person-circle.svg' %}
            </a>
            {% endif %}
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>
    </header>
    <main class="content container">
        <div class="row">
            <div class="col">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </main>
</body>

</html>